<!--<div class="login-page">-->
  <!--<div class="form">-->
    <!--&lt;!&ndash;<form class="register-form">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" placeholder="name"/>&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="password" placeholder="password"/>&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" placeholder="email address"/>&ndash;&gt;-->
      <!--&lt;!&ndash;<button>create</button>&ndash;&gt;-->
      <!--&lt;!&ndash;<p class="message">Already registered? <a href="#">Sign In</a></p>&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--<form class="login-form">-->
      <!--<input type="text" placeholder="username"/>-->
      <!--<input type="password" placeholder="password"/>-->
      <!--<button>login</button>-->
      <!--<p class="message">Not registered? Create</p>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
<!--<script src="../../assets/js/loginFormJs.js"></script>-->
<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Username</label>
          <input id="users" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="passs" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <input id="check" type="checkbox" class="check" checked>
          <label for="check"><span class="icon"></span> Keep me Signed in</label>
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign In">
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <a href="#forgot">Forgot Password?</a>
        </div>
      </div>
      <div class="sign-up-htm">
        <div class="group">
          <label for="user" class="label">Username</label>
          <input id="user" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="passss" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Repeat Password</label>
          <input id="pas" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Email Address</label>
          <input id="pass" type="text" class="input">
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign Up">
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <label for="tab-1"><a>Already Member?</a></label>
        </div>
      </div>
    </div>
  </div>
</div>
