
  <!--&lt;!&ndash;<div class="col-md-2" id="sidebar">&ndash;&gt;-->
  <!--<div class="sides" >-->
    <!--<div class="row" style="height: 30px">-->
    <!--</div>-->
    <!--<div class="row sidehover">-->
      <!--<div class="col-md-12">-->
        <!--<a routerLink="/main/dashboard"><h4 class="dash">HOME</h4></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row" style="height: 30px">-->

    <!--</div>-->

    <!--<div class="row sidehover">-->
      <!--<div class="col-md-12">-->
        <!--<a routerLink="/main/customer"><h4 class="dash">CUSTOMER</h4></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row" style="height: 30px">-->

    <!--</div>-->
    <!--<div class="row sidehover" >-->
      <!--<div class="col-md-12">-->
        <!--<a routerLink="/main/item"><h4 class="dash">ITEM</h4></a>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row" style="height: 30px">-->

    <!--</div>-->
    <!--<div class="row sidehover" >-->
      <!--<div class="col-md-12">-->
        <!--<a routerLink="/main/orderForm"><h4 class="dash">ORDER</h4></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row" style="height: 30px">-->

    <!--</div>-->

    <!--<div class="row" style="height: 380px">-->

    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-md-10">&ndash;&gt;-->
    <!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->

  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!---->
  <!---->

  <!--////////////////////my side bar.////////////////////////////////////-->

  <!--link-->
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">


  <!--link-end-->



  <hr>

  <!--<div class="btn-group-vertical" style="width: 160px;height: 311px">-->
  <!--<br>-->
  <!--<button type="button" class="btn btn-light" a routerLink="/main/dashboard">DASHBORD</button>-->
  <!--<br>-->
  <!--<button type="button" class="btn btn-light" a routerLink="/main/customer">CUSTOMER</button>-->
  <!--<br>-->
  <!--<button type="button" class="btn btn-light" a routerLink="/main/item">ITEM</button>-->
  <!--<br>-->
  <!--<button type="button" class="btn btn-light" a routerLink="/main/order">ORDERS</button>-->
  <!--<br>-->
  <!--<button type="button" class="btn btn-light">SETTINGS</button>-->
  <!--<br>-->
  <!--<button type="button" class="btn btn-light" on routerLink="/login">LOGOUT</button>-->


  <!--</div>-->

  <br>
  <br>


  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
      <a  class="simple-text logo-normal">
        POS SYSTEM
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item ">
          <a class="nav-link"routerLink="/main/dashboard">
            <i class="material-icons">dashboard</i>
            <p>DASHBOARD</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"routerLink="/main/customer">
            <i class="material-icons">person</i>
            <p>CUSTOMER</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/main/item">
            <i class="material-icons">content_paste</i>
            <p>ITEMS</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/main/orderForm">
            <i class="material-icons">library_books</i>
            <p>ORDERS</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" >
            <i class="material-icons">bubble_chart</i>
            <p>SETTINGS</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/login">
            <i class="material-icons">location_ons</i>
            <p>LOG OUT</p>
          </a>
        </li>
        <!--<li class="nav-item ">-->
          <!--<a class="nav-link" >-->
            <!--<i class="material-icons">notifications</i>-->
            <!--<p>Notifications</p>-->
          <!--</a>-->
        <!--</li>-->

        <!--<li class="nav-item ">-->
          <!--<a class="nav-link" >-->
            <!--<i class="material-icons">language</i>-->
            <!--<p>RTL Support</p>-->
          <!--</a>-->
        <!--</li>-->

        <!--<li class="nav-item active-pro ">-->
          <!--<a class="nav-link" >-->
            <!--<i class="material-icons">unarchive</i>-->
            <!--<p>Upgrade to PRO</p>-->
          <!--</a>-->
        <!--</li>-->

      </ul>
    </div>
  </div>



